{% extends "base.html" %}
{% block page_content %}
<div class="mw6 center pa3 sans-serif">
    <h1 class="mb4">Register User</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        <button onclick="window.location.href='/';">Cancel</button>
    </form>
</div>
{% endblock %}