{% extends 'blog/base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}
  <h1>Authors</h1>
  <table>
    <tr>
      <th>Author</th>
      <th>Email</th>
    </tr>
    {% for author in authors %}
    <tr>
      <td>
        <a href="{% url 'author_detail' pk=author.pk %}">{{ author.name }}</a>
      </td>
      <td>{{ author.email }}</td>
    </tr>
    <tr>
    {% empty %}
      <td>No authors yet.</td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <button onclick="window.location.href='/blog/author/new/'">New author</button>

  <!--a href="{% url 'author_new' %}">New author</a-->
{% endblock %}
