{% extends 'blog/base.html' %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
  <h1>{{ author.name }}</h1>
  <p>{{ author.bio }}</p>
  <a href="{% url 'author_edit' pk=author.pk %}">Edit</a>
{% endblock %}
