{% extends 'blog/base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
  <h1>{{ category.name }}</h1>
  <p>{{ category.description }}</p>
  <a href="{% url 'category_edit' pk=category.pk %}">Edit</a>
{% endblock %}
