{% extends 'blog/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
  <h1>Categories</h1>
  <table>
    <tr>
      <th>Category</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>
        <a href="{% url 'category_detail' pk=category.pk %}">{{ category.name }}</a>
      </td>
    </tr>
    <tr>
    {% empty %}
      <td>No categories yet.</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <button onclick="window.location.href='/blog/category/new/'">New category</button>

  <!--button onclick="window.location.href='/'">Take me home</button>
  <a href="{% url 'category_new' %}">New category</a-->
{% endblock %}
