{% extends 'blog/base.html' %}

{% block title %}New category{% endblock %}

{% block content %}
  <h1>New category</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
