{% extends 'blog/base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<script>
  function getDate(date) {
    //const date = '{{ post.created_date }}';
    console.log('date: ' + date);
    const tokens = date.split(',');
    const firstTwoTokens = tokens.slice(0, 2);
    const result = firstTwoTokens.join(', ');
    //console.log(result);
    return result; 
  }
</script>

  <h1>Blogs:</h1>
  <!--ul>
    {% for post in posts %}
      <li>
        <a href="{% url 'post_detail' pk=post.pk %}" >{{ post.title }}</a>
        ({{ post.created_date }})
        <div id="result"></div>
        <script>
          resultElement = document.getElementById("result");
          total = getDate('{{ post.created_date }}');
          //console.log('yearMonth: ' + total);
          resultElement.innerHTML = total;
        </script>
      </li>
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
  </ul-->
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publish date</th>
    </tr>
    {% for post in posts %}
    <tr>
      <td>
        <a href="{% url 'post_detail' pk=post.pk %}" >{{ post.title }}</a>
      </td>
      <td>
        {{ post.author.name }}</a>
      </td>

      <td>
        <!--{{ post.created_date }}-->
        <div id="{{ post.created_date }}"></div>
        <script>
          resultElement = document.getElementById("{{ post.created_date }}");
          total = getDate('{{ post.created_date }}');
          //console.log('yearMonth: ' + total);
          resultElement.innerHTML = total;
        </script>
      </td>
    </tr>
    {% empty %}
    <tr>No posts yet.</tr>
    {% endfor %}
  </table>
  <br>
  <button onclick="window.location.href='/blog/post/new'">New blog</button>

  <!--button onclick="window.location.href='/'">Take me home</button>
  <a href="{% url 'post_new' %}">New post</a-->
{% endblock %}
