{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.text }}</p>
  <h2>Author: {{ post.author.name }} </h2>
  <p>Published: {{ post.created_date }}</p>
  <!--a href="{% url 'post_edit' pk=post.pk %}">Edit</a-->
  <button onclick="window.location.href='{% url 'post_edit' pk=post.pk %}';">Edit</button>
{% endblock %}
