{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/snake.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <title>Pompous app</title>
</head>
<body>
    <header>
        <nav>
          <a href="{% url 'post_list' %}">Blogs</a>
          <a href="{% url 'category_list' %}">Categories</a>
          <a href="{% url 'author_list' %}">Authors</a>
        </nav>
      </header>
      <main>
        {% block content %}
        {% endblock %}
      </main>
      <footer>
        <br>
        <button onclick="window.location.href='/'">Take me home</button>
        <p>&copy; 2023 My Web Page</p>
        <p>Contact us at <a href="mailto:info@mywebpage.com">info@mywebpage.com</a></p>
      </footer>
    </body>
</html>