{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/snake.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <title>Home Page</title>
</head>
<body>
    <h1> Pompous App </h1>
    <p>
        {% load static %} <img src="{% static "images/easy.png" %}" style="width: 20vw; min-width: 330px;" alt="Bike" />
    </p>
    <button onclick="window.location.href='blog/post_list';">Blog</button>
    <button onclick="window.location.href='accounts/login';">Login</button>
    <button onclick="window.location.href='chat/';">Chat</button>
    <!--button onclick="window.location.href='imgapp/image_list';">ImgApp</button-->
</body>
</html>