{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
  <button onclick="window.location.href='{% url 'signup' %}';">Sign up</button>
</form>
{% endblock %}
