body {
    background-image: url('/static/images/seagull.jpg');  /* URL to your background image file */
    background-size: cover;  /* Adjust the background size as needed */
    text-align: center;
    font-family:'Courier New';
}

table {
    border: 1; 
}

a {
    text-decoration: none;
    color: blue;
}
  
a:visited {
    color: rgb(4, 4, 4);
  }

nav {
    font-size: 25px;
    font-family:'Courier New';    
}

li {
    font-size: 30px;
}

h1 {
    font-size: 50px;
    font-family:'Courier New';
}

h2 {
    font-size: 30px;
    font-family:'Courier New';
}
/*
.blog_entries {
    font-size: 30px;
    font-family:'Courier New';
}*/

table {
    font-size: 30px;
    font-family:'Courier New';
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

form {
    font-family:'Courier New';   
}